body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.side-nav {
    width: 20%;
    height: 100vh;
    position: relative;
    background-image: url('/bg.jpg');
    float: left;
}

.body {
    float: right;
    width: 80%;
    height: 100vh;
}

.orderButton {
    border: 1px solid white !important;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pageTitle {
    float: left;
    color: #D65757;
}

.flag-Icon {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
}

.lang {
    font-size: 25px;
    float: right;
    padding-right: 60px;
}

.mobileTitle {
    display: none;
}

.mobileIcon {
    display: none;
}

@media screen and (max-width: 900px) {
    .side-nav {
        width: 100%;
        height: 10vh;
        position: relative;
        background-image: url('/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .body {
        width: 100%;
        height: 10vh;
    }
    .top-text {
        display: none;
    }
    .top-textad {
        display: none;
    }
    #sideNav1 {
        display: none;
    }
    .orderButton {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) {
    .side-nav {
        width: 100%;
        height: 10vh;
        position: relative;
        background-image: url('/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .body {
        width: 100%;
        height: 90vh;
    }
    .top-text {
        display: none;
    }
    .top-textad {
        display: none;
    }
    #sideNav1 {
        display: none;
    }
    .orderButton {
        display: none;
    }
    .pageTitle {
        float: left;
        color: #D65757;
        font-size: 80px;
    }
    .lang {
        display: none;
    }
    .flag-Icon {
        display: none;
    }
    .mobileIcon {
        height: 100px;
        width: 100px;
        float: left;
        margin-left: 30px;
        margin-top: 40px;
        display: inline;
    }
    .mobileTitle {
        float: left;
        margin-top: 65px;
        font-size: 40px;
        margin-left: 70px;
        color: white;
        display: inline;
    }
}

.top-text {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.top-textad {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 300;
}

#top1 {
    padding-top: 20px;
}

.navitem {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.navitem:first-child {
    margin-bottom: 30px;
    margin-top: 60px;
}

.navButton {
    color: white;
    font-weight: 300;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.navButton:hover {
    color: white;
    text-decoration: none;
}

.topBarBody {
    margin-top: 30px;
    margin-left: 30px;
}