body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.side-nav {
    width: 20%;
    height: 100vh;
    position: relative;
    background-image: url('/bg.jpg');
    float: left;
}

.body {
    float: right;
    width: 80%;
    height: 100vh;
}

@media screen and (max-width: 900px) {
    .side-nav {
        width: 40%;
        height: 100vh;
        position: relative;
        background-image: url('/bg.jpg');
        float: left;
    }
    .body {
        float: right;
        width: 60%;
        height: 100vh;
    }
}

.top-text {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.top-textad {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 300;
}

#top1 {
    padding-top: 20px;
}

.navitem {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.navitem:first-child {
    margin-bottom: 30px;
    margin-top: 60px;
}

.navButton {
    color: white;
    font-weight: 300;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.navButton:hover {
    color: white;
    text-decoration: none;
}

.orderButton {
    border: 1px solid white;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flagUS {
    height: 20px;
    width: 20px;
    background-image: url('../flags/png/united-states-of-america.png');
}